@font-face {
  font-family: '3dregular';
  src: url('3d_unicode-webfont.woff2') format('woff2'),
    url('3d_unicode-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-text: #101010;
  --clr-primary: #6461b8;
  --clr-primary-dark: #4ac389;
  --clr-accent: #847ce4;
  --clr-accent-dark: #924aaf;

  --ff-title: ;
  --ff-serif: 'Crimson Text', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* 
html {
  box-sizing: border-box;
  padding: 1em;
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.25rem;
  justify-content: center;
} */

body {
  /* margin: 20px; */
  text-align: center;
  margin-left: 1em;
  justify-content: center;
  align-content: center;
  /* padding: 2em; */
  height: 100vh;
  /* background-color: rgb(99 95 124); */
  /* padding: 2em;
border-radius: 1px;
border-color: #b0b2ac; */
}

img {
  display: flex;
  width: 400px;
  height: 270px;
  max-width: 100%;
}

li {
  display: inline-block;
  justify-content: center;
  /* float: right; */
}

h1,
h2,
h4,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 1;
  letter-spacing: 1px;
  font-size: 15px;
  padding-top: 0.2em;
  /* background-color: #847ce4; */
  margin: 0;
}

h2 {
  font-size: 1rem;
}

p {
  margin-bottom: 0;
  font-size: 17px;
  display: inline-block;
}

/* .section-title-small {
  font-size: 1.5rem;
}

.section-title-small small {
  font-size: 0.7em;
  display: block;
} */

/* .text-primary {
  color: var(--clr-primary);
} */

a {
  text-decoration: none;
  font-size: 20px;
  color: #101010;
}

a:hover,
a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}

header {
  /* background: #e2e2e2; */
  display: inline-block;
  flex-direction: row;
  /* background-image: ; */
  /* color: white; */
  padding: 0;
  justify-content: center;
  margin: auto;
  /* height: 100vh; */
}

.logo {
  display: flex;
  float: left;
  margin-left: 1em;
}

.header-nav {
  display: flex;
  position: relative;
  left: 20px;
  list-style: none;
  justify-content: right;
  text-decoration: none;
  /* margin: 0;
  /* margin-left: 9em; */
  padding: 1em;
}

/* .header-nav a {
  justify-content: left;
} */

nav li {
  /* display: flex; */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  /* display: flex; */
  padding: 0.5em;
  color: var(--clr-text);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}

.intro {
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*   background: #e2e2e2; */
  margin: 15px;
}

.product {
  padding: 10px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  border: solid #e2e2e2;
  border-width: 1px;
  width: 500px;
  height: 300px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.product__title {
  padding: 10px;
}

footer {
  /* background: #e2e2e2; */
  padding: 0;
  color: rgb(15, 15, 15);
  display: flex;
  list-style: none;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}

footer a {
  color: inherit;
  padding: 1em;
}

.social {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

#num {
  margin-left: 1em;
}

@media (max-width: 750px) {
  .nav a {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  header {
    flex-direction: column;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    float: right;
    list-style: none;
    justify-content: right;
    text-decoration: none;
    /* margin: 0;
  margin-left: 9em;
  padding-top: 1em; */
  }

  .container {
    /*     max-width: 100px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .product {
    max-width: 325px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  footer {
    max-width: 325px;
    flex-direction: column;
  }

  product__img {
    max-width: 200px;
  }

  img {
    max-width: 320px;
  }
}
